@tailwind base;


h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@tailwind components;
@tailwind utilities;

.app_container {
  max-height: calc(100% - 4rem) !important;
  height: calc(100% - 4rem) !important;
}

.editor_container {
  max-height: calc(100%) !important;
  height: calc(100%) !important;
}

.editor_parent {
  max-height: calc(100% - 6rem) !important;
  height: calc(100% - 6rem) !important;
}

.ResizeHandleOuter {
  flex: 0 0 1em;
  position: relative;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  --background-color: transparent;
}
.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
}

.ResizeHandleInner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
}
